@model IEnumerable<ACME.BOL.Modelos.Sucursal>

@{
    ViewData["Title"] = "Sucursales";
}

<h1>Sucursales</h1>

<p>
    <button type="button" class="btn btn-warning" onclick="Agrega(0)">Agregar sucursal</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <button type="button" class="btn btn-info"  onclick="Productos(@item.SucursalId)">Ver Productos</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary" onclick="Agrega(@item.SucursalId)">Editar</button>
                <button type="button" class="btn btn-outline-danger" onclick="Borrar(@item.SucursalId)">Borrar</button>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="ModalEdicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="ContenidoModal">
            <span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

	        function Agrega(Id) {
	            var pagina = '@Url.Action("AgregaSucursal", "Home")';
	            pagina += "/" + Id;
	            $("#ContenidoModal").load(pagina);
	            $('#ModalEdicion').modal();

	            $('#ModalEdicion').on('shown.bs.modal', function () {
	                $(document).off('focusin.modal');
	            });
                }
            function GuardaSucursal() {
                var form = $('#FormModalSucursal')[0];
                var data = new FormData(form);
	            $.ajax({
	                type: 'POST',
	                url: '@Url.Action("AgregaSucursal", "Home")',
                    enctype: 'multipart/form-data',
                    processData: false,  // Important!
                    contentType: false,
                    cache: false,
                    data: data,
                    timeout: 600000,
                    success: function (data) {

                        if (data.isSuccess) {
                            alert("Se agrego sucursal");
                            location.reload();
	                    }
	                    else {
                            alert("Error verifique sus datos");
                            location.reload();
	                    }
	                },
	            });
            }
         function Borrar(id) {
                    var dato = {
                        "Id": id,
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Borrar", "Home")',
                        data: dato,
                        success: function (data) {
                            if (data == true) {
                                alert("Se elimino sucursal");
                                location.reload();
                            }
                            else {
                                alert("error");
                                location.reload();
                            }
                        },
                    });
        }
        function Productos(id) {
            var pagina = '@Url.Action("Productos", "Home")';
            pagina += "/" + id;
            window.location = pagina;
                }
    </script>
}
